{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yeswanth Kumar | Full Stack Developer</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- NAVIGATION -->
<nav class="navbar-custom">
    <div class="nav-name">Yeswanth Kumar</div>

    <div class="nav-menu">
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#skills">Skills</a>
        <a href="#experience">Experience</a>
        <a href="#education">Education</a>
        <a href="#certificates">Certificates</a>
        <a href="#contact">Contact</a>
    </div>

    <div class="nav-photo">
        <img src="{% static 'media/my_photo.jpg' %}" alt="Profile">
    </div>
</nav>

{% block content %}{% endblock %}

</body>
</html>
